﻿
<div class="wrap-options" id="wrap-options" toggleable active-class="search-open">
    <div class="margin-top-10">
        <form class="form-inline">
            <span class="margin-left-20">
                Keyword Search
                <input type="text" class="form-control underline" placeholder="Search messages..." ng-model="$parent.inbox.search.$">
            </span>
        </form>
    </div>
</div>

