<div ct-fullheight data-ct-fullheight-exclusion="header, footer" class="retro">
    <div class="inbox" id="inbox" ng-controller="StarredCtrl" toggleable active-class="message-open">

        <!-- search controls and results pane -->
        <div class="col email-list middle-col" ng-hide="$state.current.name.indexOf('inbox')>= 0 && isMobileDevice">
            <div class="wrap-list">
                <ng-include src="'/Scripts/p2p/starred/views/search_controls_pane.html'"></ng-include>
                <ng-include src="'/Scripts/p2p/starred/views/results_pane.html'"></ng-include>
            </div>
        </div>

        <!-- selected item details pane -->
        <div class="email-reader" perfect-scrollbar wheel-propagation="true" suppress-scroll-x="true" ng-show="$state.current.name.indexOf('inbox')>= 0 || isLargeDevice || isSmallDevice">
            <div ui-view>
                <div class="no-messages">
                    <h2>No comment has been selected</h2>
                </div>
            </div>
        </div>

    </div>
</div>
