<!-- start: SIDEBAR -->
<!--<nav data-ng-include=" '/Scripts/assets/views/partials/nav.html' "></nav>-->
<nav data-ng-include=" '/Scripts/assets/views/partials/nav.html' "></nav>
<!-- end: SIDEBAR -->
