﻿@using p2pweb_clip2.Models.dto
@model P2pUserSettingsDTO

@{
    //if (Model.facebookIntegration)
    if (Model.facebookIntegration)
    {
        <script>
            window.fbloaded = false
            window.fb_appid = @Model.appid

                window.fbAsyncInit = function () {
                console.log('window.fbAsyncInit - calling FB.init')
                FB.init({
                    appId: window.fb_appid, // '1936047326651101',
                    cookie: true,  // enable cookies to allow the server to access
                    // the session
                    xfbml: true,  // parse social plugins on this page
                    version: 'v13.0' // 'v2.8' // use graph api version 2.8
                });

                // Now that we've initialized the JavaScript SDK, we call
                // FB.getLoginStatus().  This function gets the state of the
                // person visiting this page and can return one of three states to
                // the callback you provide.  They can be:
                //
                // 1. Logged into your app ('connected')
                // 2. Logged into Facebook, but not your app ('not_authorized')
                // 3. Not logged into Facebook and can't tell if they are logged into
                //    your app or not.
                //
                // These three cases are handled in the callback function.

                console.log('window.fbAsyncInit - calling FB.getLoginStatus')

                FB.getLoginStatus(function (response) {
                    statusChangeCallback(response);
                });

            };

            // This function is called when someone finishes with the Login
            // Button.  See the onlogin handler attached to it in the sample
            // code below.
            //function checkLoginState() {
            //    FB.getLoginStatus(function (response) {
            //        statusChangeCallback(response);
            //    });
            //}

            // This is called with the results from FB.getLoginStatus().
            function statusChangeCallback(response) {
                console.log('statusChangeCallback');
                console.log(response);
                //testAPI();
                // The response object is returned with a status field that lets the
                // app know the current login status of the person.
                // Full docs on the response object can be found in the documentation
                // for FB.getLoginStatus().
                if (response.status === 'connected') {
                    // Logged into your app and Facebook.
                    testAPI();
                }
                else {
                    // The person is not logged into your app or we are unable to tell.
                    console.log('not logged in. response.status=' + response.status)
                    //window.location = "/home/about"
                }
            }


            // Here we run a very simple test of the Graph API after login is
            // successful.  See statusChangeCallback() for when this call is made.
            function testAPI() {
                console.log('Welcome!  Fetching your information.... ');
                FB.api('/me?fields=id,name,picture', function (response) {
                    console.log('response from api call: ')
                    console.log(response)
                    window.fbme_response = response
                    window.fbloaded = true
                    console.log('Successful login for: ' + response.name);
                });
            }


            // Load the SDK asynchronously
            // i assume this has to be done last
            (function (d, s, fb_sdk_id_string) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(fb_sdk_id_string)) return;
                js = d.createElement(s); js.id = fb_sdk_id_string;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                //js.src = "/Scripts/facebook_sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
                (document, 'script', 'facebook-jssdk'));
            </script>
    }
    else
    {
        <script>window.fbloaded = true</script>
    }
}



@*<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>

    <div id="status">
    </div>*@


