﻿.results-tree-container {
    overflow: hidden;
}

.hide-overflow {
    overflow: hidden;
}

#item-details-floater.sticky {
    position: fixed;
    top: 0;
    right: 0;
}

.leaf {
    overflow: hidden;
}

.selected-id {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.selected-linkto {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.selectedFeed {
    background-color: lightblue;
    padding: 10px 10px 0 10px;
}

@selectedCommentBg: darken(azure, 15%);

.selected-comment {
    background: @selectedCommentBg !important;
}

.read-comment {
    opacity: 0.4;
    &:hover{
        opacity: 1;
    }
}

.ng-leave {
    display: none !important;
}

.loadingcentered {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*text-align: center;*/
}

.loadingSubDiv {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.keyword-remove-column {
    width: 25px;
}

.keyword {
    .default-hover;
}

.multiline-ellipsis {
    display: block;
    display: -webkit-box;
    /*max-width: 400px;
    height: 109.2px;
    margin: 0 auto;
    font-size: 26px;
    line-height: 1.4;*/
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.striped > li:nth-of-type(odd) {
    background-color: #efeff0;
}

.search-result-image {
    max-width: 100%;
    max-height: 100%;
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    /*height: 75px;
    width: 75px;*/
    display: block;
}

@media (max-width: 790px) {
    .search-result-image {
        height: 75px;
        width: 100%;
    }
}

.no-messages {
    bottom: 0;
    left: 0;
    margin-top: -34px;
    opacity: 0.5;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
}

.retro-buttons-container {
    margin-left: 224px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.inbox .middle-col {
    width: 58% !important;
}

.retro .inbox .wrap-list {
    /*width: 450px !important;*/
    width: auto !important;
}

.inbox .pane {
}

.myrow {
    display: flex; /* equal height of the children */
    border-bottom: 1px solid;
    padding: 2em;
}

.mycol1 {
    width: 10%;
    //padding: 1em;
    //border: solid;
}

.mycol {
    flex: 1; /* additionally, equal width */
    //padding: 1em;
    //border: solid;
}

.mycol3 {
    width: 10%;
}

@defaultHoverColor: azure;

.default-hover {
    &:hover {
        background-color: @defaultHoverColor !important;
    }
}

@message-link-min-height: 38px;

.messages-list .messages-item {
    div.message-link {
        min-height: @message-link-min-height;
    }
    a.message-link {
        min-height: @message-link-min-height;
    }
    &:hover {
        border: 1px solid black;
    }
}
.messages-list {
    .selected-comment {
        &:hover {
            background: @selectedCommentBg;
            background: green;
            border: 1px solid black;
        }
    }
}

.feed-list-image {
    width: 100px;
    max-height: 90px;
}

.retro-group-header {
    background: #364150 !important;
    color: darken(#ffffff, 9%);
    padding: 10px;
}

.settings > .btn {
    top: 300px;
}

div.no-messages {
    top: 40%;
}