﻿<div ng-controller="FacebookFeedSearch2Ctrl as feedsearch">
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle" translate="sidebar.nav.element.FACEBOOKFEEDSEARCH">SEARCH</h1>
                <span class="mainDescription">Search for facebook feeds by keyword</span>
                <form class="form-inline">
                    <!--<div class="input-group well">-->
                        <input type="text" class="form-control" placeholder="Search..." ng-model="feedsearch.searchTerm">
                        <button ng-click="feedsearch.startSearch()" ng-disabled="!feedsearch.searchTerm" class="btn btn-primary">
                            <i class="fa fa-search"></i> Search
                        </button>
                    <!--</div>-->
                </form>
            </div>
            <div ncy-breadcrumb></div>
        </div>
    </section>


    <!-- start: PAGE TITLE -->
    <!-- end: PAGE TITLE -->
    <!-- start: SEARCH RESULT -->
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <div class="search-classic">
                    <h3 ng-if="lastSearchedTerm">Search results for '{{feedsearch.lastSearchedTerm}}'</h3>
                    <hr>

                    <div ng-if="feedsearch.feedsMatchingSearch.length">
                        <div ng-if="false">
                            <div ng-repeat="feed in feedsearch.feedsMatchingSearch | orderBy: '-i_fan_count' "
                                 ng-class="{'selectedFeed' : feed.alreadySelected}"
                                 class="search-result">
                                <h4>
                                    <a href="https://facebook.com/{{feed.id}}">
                                        {{feed.name}}
                                    </a>
                                    <span class="small">({{feed.category}})</span>
                                    <span class="badge pull-right">{{feed.i_fan_count}}</span>
                                </h4>
                                <div class="clearfix"></div>
                                <p>
                                    {{feed.about}}
                                </p>
                                <button ng-if="feed.alreadySelected" ng-click="feedsearch.removeFeed(feed)">remove</button>
                                <button ng-if="!(feed.alreadySelected)" ng-click="feedsearch.addFeed(feed)">add</button>
                                <hr />
                            </div>
                        </div>

                        <div ng-if="true">
                            <table ng-table="tableParams" class="table table-striped">
                                <tr ng-repeat="feed in $data ">
                                    <td data-title="'Name'">{{feed.name}}</td>
                                    <td data-title="'Category'">{{feed.category}}</td>
                                    <td data-title="'Fan Count'">{{feed.i_fan_count}}</td>
                                    <td data-title="'Add/Remove'">
                                        <button ng-click="feedsearch.removeFeed(feed)"
                                                ng-if="feed.alreadySelected"
                                                class="btn btn-transparent btn-xs tooltips feed-search-result"
                                                tooltip-placement="top"
                                                uib-tooltip="Remove">
                                            <i class="fa fa-times fa fa-white"></i>
                                        </button>
                                        <button ng-click="feedsearch.addFeed(feed)"
                                                ng-if="!(feed.alreadySelected)"
                                                class="btn btn-transparent btn-xs tooltips feed-search-result"
                                                tooltip-placement="top"
                                                uib-tooltip="Add">
                                            <i class="fa fa-plus fa fa-white"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <!-- end: SEARCH RESULT -->
