<div ng-controller="FacebookFeedSearch2Ctrl as feedsearch">
    <!-- start: PAGE TITLE -->
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle" translate="sidebar.nav.utilities.SEARCHRESULT">FACEBOOK FEED SEARCH</h1>
                <span class="mainDescription">Enter a keyword to search for matching facebook pages and groups.</span>
            </div>
            <div ncy-breadcrumb></div>
        </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: SEARCH RESULT -->
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <div class="search-classic">
                    <form>
                        <div class="input-group well">
                            <input type="text" class="form-control" placeholder="Search..." ng-model="feedsearch.searchTerm" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit" ng-click="feedsearch.startSearch()" ng-disabled="!feedsearch.searchTerm">
                                    <i class="fa fa-search"></i> Search
                                </button>
                            </span>
                        </div>
                    </form>
                    <h3 ng-if="feedsearch.lastSearchedTerm">Search results for '{{feedsearch.lastSearchedTerm}}'</h3>
                    <hr>
                    <div ng-repeat="feed in feedsearch.displayedFeeds">
                        <div class="search-result">
                            <span class="pull-right">
                                category: {{feed.category}} 
                                <button ng-click="feedsearch.removeFeed(feed)"
                                        ng-if="feed.alreadySelected"
                                        ng-class="{'fa-spin': feed.busy}"
                                        class="btn btn-xs tooltips feed-search-result btn-danger"
                                        tooltip-placement="top"
                                        uib-tooltip="Remove">
                                    <i class="fa fa-times fa fa-white"></i>
                                </button>
                                <button ng-click="feedsearch.addFeed(feed)"
                                        ng-if="!(feed.alreadySelected)"
                                        class="btn btn-transparent btn-xs tooltips feed-search-result btn-success"
                                        ng-class="{'fa-spin': feed.busy}"
                                        tooltip-placement="top"
                                        uib-tooltip="Add">
                                    <i class="fa fa-plus fa fa-white"></i>
                                </button>
                            </span>
                            <img ng-if="feed.picture.data.url.indexOf('418333_10149999285994467_1920585607') === -1"
                                 ng-src="{{feed.picture.data.url}}" class="pull-left margin-right-10" />
                            <h4><a href="https://www.facebook.com/{{feed.id}}">{{feed.name}}</a></h4>
                            <p style="clear"></p>
                            <p>type: {{feed.type}}</p>
                            <p>about: {{feed.about}}</p>
                        </div>
                        <hr>
                    </div>
                    <button ng-if="feedsearch.displayedFeeds.length < feedsearch.feedsMatchingSearch.length" ng-click="feedsearch.loadmore()">load more</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end: SEARCH RESULT -->
</div>