<div ng-controller="MiningCtrl">
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle" translate="sidebar.nav.element.MINING">MINING</h1>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" name="masked" placeholder="custom keyword" ng-model="customKeyword">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ng-click="startmine()">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <h5 class="over-title margin-bottom-15"><span class="text-bold">Results for search terms: {{activeKeywords}}</span></h5>
            </div>
            <div class="col-md-8 col-sm-6">
                <abn-tree tree-data="my_data"
                          tree-control="my_tree"
                          ng-dblclick="tree_double_click()"
                          on-select="my_tree_handler(branch)"
                          expand-level="2"
                          initial-selection="Granny Smith"
                          icon-leaf="ti-file"
                          icon-expand="ti-plus"
                          icon-collapse="ti-minus"></abn-tree>
            </div>

            <div id="item-details-floater" ng-if="selected" class="col-md-4 col-sm-6">
                <section class="panel panel-white hide-overflow">
                    <header class="panel-heading border-light">
                        <div class="selected-id">{{selected.label}}</div>
                        <div>
                            <label>link</label>

                            <a ng-href="https://www.facebook.com/{{selected.data.id}}" class="selected-linkto" target="_blank">
                                {{selected.label}}
                                <i class="fa fa-globe"></i>
                            </a>
                        </div>
                        <span>send message</span>
                        <button class="btn btn-link btn-o margin-bottom-15 selected-linkto"
                                ng-click="sendmessage(selected.data.id)">
                            <i class="fa fa-envelope"></i>
                        </button>
                    </header>
                    <div class="panel-body">
                        <div class="alert alert-warning hide-overflow">
                            {{ output }}
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>


