
<div ng-controller="MiningViewWrapperCtrl as vm">
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-8">
                <div class="margin-bottom-5">
                    <h1 class="mainTitle pull-left" translate="sidebar.nav.element.MINING">MINING</h1>
                    <div class="form-inline pull-right">
                        <div class="form-group">
                            <label for="singleSelect">select view:</label>
                            <select id="singleSelect" ng-model="vm.selectedView" class=""
                                    ng-options="view.name for view in vm.availableViews">
                            </select>
                        </div>
                    </div>
                    <div class="clearfix clear"></div>
                </div>
                <form class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" name="masked" placeholder="custom keyword" ng-model="vm.customKeyword">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" ng-click="vm.mine()">Go!</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <h5 class="over-title margin-bottom-15"><span class="text-bold">Results for search terms: {{vm.activeKeywords}}</span></h5>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div ng-include="vm.selectedView.url"></div>
            </div>
        </div>
    </div>
</div>
