<div class="col-md-8 col-sm-6" ng-controller="MiningNestedListCtrl as vm">
    <ul class="list-group">
        <li ng-repeat="comment in vm.my_data" class="list-group-item mine-result-list-item">
            <div ng-click="comment.selected = !comment.selected">
                <bold>{{comment.comment.from.name}}:</bold>
                {{comment.post.idX}} {{comment.post.nameX}}
                {{comment.comment.message}}
            </div>
            <div ng-if="comment.selected" class="cs-skin-elastic cs-elastic">
                <button class="btn btn-link btn-o"
                        ng-if="commentWrapper.sender"
                        title="send a message to {{comment.comment.from.name}}"
                        ng-click="vm.sendmessage(comment)">
                    {{comment.comment.from.name}}
                    <i class="fa fa-envelope"></i>
                </button>
                <a ng-href="https://www.facebook.com/{{comment.comment.id}}" 
                   ng-attr-target="_blank"
                   title="browse to the comment">
                    <i class="fa fa-globe"></i>
                </a>
            </div>
        </li>
    </ul>
</div>


