
<div ng-controller="MiningNgTableCtrl as vm" >
    <div class="row">
        <div ng-if="!(vm.my_data.length)">None</div>

        <div ng-if="vm.my_data.length">
            <table ng-table="tableParams" class="table table-striped mining-table-std">
                <tbody>
                    <tr ng-repeat="comment in $data">
                        <td data-title="'Msg'" ng-if="vm.widescreen">
                            <button class="btn btn-link btn-o Xmargin-bottom-15 Xselected-linkto"
                                    title="send a message to user"
                                    ng-click="vm.sendmessage(comment)">
                                <i class="fa fa-envelope"></i>
                            </button>
                        </td>
                        <td data-title="'Browse'" ng-if="vm.widescreen">
                            <a ng-href="https://www.facebook.com/{{comment.comment.id}}" class="Xselected-linkto"
                               ng-attr-target="_blank"
                               title="browse to the comment">
                                {{selected.label}}
                                <i class="fa fa-globe"></i>
                            </a>

                        </td>
                        <td data-title="'From'" style="min-width: 120px" >
                            <small ng-if="comment.from">
                                {{comment.comment.from.name}}
                            </small>
                        </td>
                        <td data-title="'Created_Time'" style="">
                            <small>
                                {{comment.comment.created_time | date: 'shortDate'}}<br />
                                {{comment.comment.created_time | date: 'shortTime'}}
                            </small>
                        </td>
                        <td data-title="'Comment'">
                            <div>
                                <div class="multiline-ellipsis" ng-click="vm.selectComment(comment)" ng-if="!comment.selected">
                                    {{comment.comment.message}}
                                </div>
                                <div ng-if="comment.selected">
                                    <div ng-click="vm.selectComment(comment)">{{comment.comment.message}}</div>
                                    <div ng-if="!vm.widescreen">
                                        <a ng-href="https://www.facebook.com/{{comment.comment.id}}" class="selected-linkto" target="_blank"
                                           title="browse to the comment">
                                            {{selected.label}}
                                            <i class="fa fa-globe"></i>
                                        </a>
                                        <button class="btn btn-link btn-o margin-bottom-15 selected-linkto"
                                                title="send a message to user"
                                                ng-if="comment.from"
                                                ng-click="vm.sendmessage(comment)">
                                            <i class="fa fa-envelope"></i>

                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


