<div class="row" ng-controller="MiningNgTableGroupCtrl as vm" ng-cloak>
    <div ng-if="!(vm.my_data.length)">None</div>

    <div ng-if="vm.my_data.length">
        <table ng-table="tableParams" class="table table-striped ">
            <colgroup>
                <col width="60%" />
                <col width="20%" />
                <col width="20%" />
            </colgroup>
            <tr class="ng-table-group" ng-repeat-start="group in $groups">
                <td colspan="3">
                    <a href="" ng-click="group.$hideRows = !group.$hideRows">
                        <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                        <strong>{{ group.value }}</strong>
                    </a>
                </td>
            </tr>
            <tr ng-hide="group.$hideRows" ng-repeat="commentWrapper in group.data" ng-repeat-end>
                <td sortable="'name'" data-title="'Name'" groupable="'name'">
                    <div ng-click="commentWrapper.selected = !commentWrapper.selected">
                        {{commentWrapper.comment.message}}
                    </div>
                    <div ng-if="commentWrapper.selected">
                        <button class="btn btn-link btn-o Xmargin-bottom-15 Xselected-linkto"
                                title="send a message to user"
                                ng-if="commentWrapper.sender"
                                ng-click="vm.sendmessage(commentWrapper)">
                            <i class="fa fa-envelope"></i>
                        </button>
                        <a ng-href="https://www.facebook.com/{{commentWrapper.comment.id}}" class="Xselected-linkto"
                           ng-attr-target="_blank"
                           title="browse to the comment">
                            <i class="fa fa-globe"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

