﻿<link href="~/Scripts/assets/css/Site.css" rel="stylesheet" />

@{
    ViewBag.Title = "CssTest";
}

<h2>CssTest</h2>

<div ng-repeat="feed in vm.displayedFeeds" ">
    <div class="search-result row">

        <div class="col-sm-2 margin-right-15 hide-overflow">
            <img class="search-result-image thumbnail " src="https://scontent.xx.fbcdn.net/v/t1.0-9/s720x720/24068121_1743201859063542_1273711313978426615_n.jpg?oh=62dca4cbd0dbbaf202bae88e6936f7b3&amp;oe=5A8BCDC4">
        </div>

        <div class="">
            a href="https://www.facebook.com/399847516878377" target="_blank" class="ng-binding">Red Sox Nation
            a href="https://www.facebook.com/399847516878377" target="_blank" class="ng-binding">Red Sox Nation
            a href="https://www.facebook.com/399847516878377" target="_blank" class="ng-binding">Red Sox Nation
            a href="https://www.facebook.com/399847516878377" target="_blank" class="ng-binding">Red Sox Nation
            a href="https://www.facebook.com/399847516878377" target="_blank" class="ng-binding">Red Sox Nation
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
    </div>
    <div class="row">
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-4">.col-md-4</div>
    </div>
    <div class="row">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
    </div>
    <div class="row">
        <div class="col-md-6">.col-md-6</div>
        <div class="col-md-6">.col-md-6</div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
        <!-- Optional: clear the XS cols if their content doesn't match in height -->
        <div class="clearfix visible-xs-block"></div>
        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
    </div>

</div>