﻿
@{
    ViewBag.Title = "Index";
}

<h2>Sql Test2</h2>

<p>viewbag.msg = @ViewBag.msg</p>

<p>viewbag.ex = @ViewBag.ex</p>
<p>viewbag.ex.innerException.message = @ViewBag.ex.InnerException.Message</p>
