<div ng-controller="FacebookFeedSearchCtrl as vm">
    <!-- start: PAGE TITLE -->
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle" translate="sidebar.nav.utilities.SEARCHRESULT">FACEBOOK FEED SEARCH</h1>
                <span class="mainDescription">Enter a keyword (or FB ID) to search matching facebook pages or groups.</span>
            </div>
            <div ncy-breadcrumb></div>
        </div>
        <div class="row padding-left-30 margin-top-20">
            <span ng-repeat="feedType in vm.feedTypes" class="margin-right-15">
                <label>
                    <input type="radio" ng-model="vm.selectedFeedType" value="{{feedType}}">
                    {{feedType}}
                </label>
            </span>
        </div>
    </section>
    <!-- end: PAGE TITLE -->

    <!-- start: SEARCH RESULT -->
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <div class="search-classic">
                    <form>
                        <div class="input-group well">
                            <input type="text" class="form-control" placeholder="Search..." ng-model="vm.searchTerm" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit" ng-click="vm.startSearch()" ng-disabled="!vm.searchTerm">
                                    <i class="fa fa-search" ng-class="{ 'fa-spin': vm.searchInProgress}" ></i> Search
                                </button>
                            </span>
                        </div>
                    </form>
                    <h3 ng-if="vm.lastSearchedTerm">Search results for '{{vm.lastSearchedTerm}}'</h3>
                    <hr>
                    <div ng-if="vm.selectedFeedType === 'groups'">
                        <div ng-repeat="feed in vm.displayedFeeds" class="search-result myrow">
                            <div class="mycol1 margin-right-15">
                                <img ng-src="{{feed.cover.source}}" class="search-result-image" />
                                <img ng-src="{{feed.icon}}" />
                                <i ng-if="feed.privacy === 'CLOSED'" class="fa fa-lock"></i>
                                <i ng-if="feed.privacy === 'OPEN'" class="fa fa-unlock"></i>
                            </div>
                            <div class="mycol ">
                                <div><a href="https://www.facebook.com/{{feed.id}}" target="_blank">{{feed.name}}</a></div>
                                <div><label>Description:</label>{{feed.description | words:50 :true}}</div>
                                <div><label>Email:</label>{{feed.email}}</div>
                                <div><label>Last Updated:</label>{{feed.updated_time | date:'MM-dd-yyyy'}}</div>
                            </div>
                            <div class="mycol3">
                                <button ng-click="vm.removeGroupFeed(feed)"
                                        ng-if="feed.alreadySelected"
                                        class="btn btn-sm tooltips feed-search-result btn-danger "
                                        tooltip-placement="top"
                                        uib-tooltip="Remove">
                                    <i class="fa fa-times fa fa-white" ng-class="{'fa-spin': feed.busy}"></i>
                                </button>
                                <button ng-click="feed.type = 'group'; vm.addGroupFeed(feed)"
                                        ng-if="!(feed.alreadySelected)"
                                        class="btn btn-transparent btn-sm tooltips feed-search-result btn-success "
                                        tooltip-placement="top"
                                        uib-tooltip="Add">
                                    <i class="fa fa-plus fa fa-white" ng-class="{'fa-spin': feed.busy}"></i>
                                </button>
                                <p ng-if="feed.errmsg">{{feed.errmsg}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>


                    <div ng-if="vm.selectedFeedType ===  'pages'">
                        <div ng-repeat="feed in vm.displayedFeeds">
                            <div class="search-result">
                                <span class="pull-right">
                                    category: {{feed.category}}
                                    <button ng-click="vm.removeFeed(feed)"
                                            ng-if="feed.alreadySelected"
                                            ng-class="{'fa-spin': feed.busy}"
                                            class="btn btn-xs tooltips feed-search-result btn-danger"
                                            tooltip-placement="top"
                                            uib-tooltip="Remove">
                                        <i class="fa fa-times fa fa-white"></i>
                                    </button>
                                    <button ng-click="vm.addFeed(feed)"
                                            ng-if="!(feed.alreadySelected)"
                                            class="btn btn-transparent btn-xs tooltips feed-search-result btn-success"
                                            ng-class="{'fa-spin': feed.busy}"
                                            tooltip-placement="top"
                                            uib-tooltip="Add">
                                        <i class="fa fa-plus fa fa-white"></i>
                                    </button>
                                </span>
                                <img ng-if="feed.picture.data.url.indexOf('418333_10149999285994467_1920585607') === -1"
                                     ng-src="{{feed.picture.data.url}}" class="pull-left margin-right-10" />
                                <h4><a href="https://www.facebook.com/{{feed.id}}" target="_blank">{{feed.name}}</a></h4>
                                <p style="clear"></p>
                                <p>fan count: {{feed.fan_count}}</p>
                                <p>about: {{feed.about}}</p>
                            </div>
                            <hr>
                        </div>
                    </div>

                    <button ng-if="vm.displayedFeeds.length < vm.feedsMatchingSearch.length" ng-click="vm.loadmore()">load more</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end: SEARCH RESULT -->
</div>