<div ng-controller="KeywordsCtrl as vm">

    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle" translate="sidebar.nav.element.KEYWORDS">KEYWORDS</h1>
                <form class="form-inline">
                    <input ng-model="vm.newKeyword" placeholder="Enter a new keyword" />
                    <button ng-click="vm.addKeyword()"
                            class="btn btn-primary"
                            ng-disabled="vm.newKeyword.trim().length == 0">
                        add
                    </button>
                </form>
            </div>
            <!--<div ncy-breadcrumb></div>-->
        </div>
    </section>

    <div class="container-fluid container-fullw bg-white" ng-if="vm.keywords.length == 0">
        <div class="center">
            No keywords yet. Add some!
        </div>
    </div>

    <div class="container-fluid container-fullw bg-white" ng-if="vm.keywords.length">
        <div class="col-md-8">
            <div class="row margin-bottom-10">
                <button class="btn btn-xs btn-danger tooltips pull-right" title="remove all keywords" ng-click="vm.removeAll()">
                    <span>Remove All</span>
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="row">
                <div class="panel panel-white no-border">
                    <div class="panel-body">
                        <!--<div ng-include="'/Scripts/p2p/views/keywords/keywordsNgTable1.html'"></div>-->
                        <div ng-include="'/Scripts/p2p/keywords/views/simple1.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


