﻿<table ng-table="tableParams" class="table table-striped ">
    <tr ng-repeat="keyword in $data">
        <td data-title="'Name'">{{keyword}}</td>
        <td data-title="'Remove'" class="keyword-remove-column">
            <a ng-click="vm.removeKeyword(keyword)"
               href="#"
               class="btn btn-link no-border btn-transparent-red btn-xs tooltips "
               tooltip-placement="top"
               uib-tooltip="Remove">
                <i class="fa fa-times fa fa-white"></i>
            </a>
        </td>
    </tr>
</table>
