﻿
<ul class="list-group table striped">
    <li ng-repeat="keyword in vm.keywords" class="list-group-item margin-bottom-0 back keyword" ng-class-even="'background-light'">
        {{keyword}}
        <button ng-click="vm.removeKeyword(keyword)"
                class="btn btn-link no-border btn-transparent-red btn-xs tooltips pull-right"
                tooltip-placement="top"
                uib-tooltip="Remove">
            <i class="fa fa-times fa fa-white"></i>
        </button>
    </li>
</ul>