﻿    <!-- jQuery -->
<script src="~/bower_components/jquery/dist/jquery.js"></script>
<!-- Fastclick -->
<script src="~/bower_components/fastclick/lib/fastclick.js"></script>
<!-- Angular -->
<script src="~/bower_components/angular/angular.js"></script>
<script src="~/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="~/bower_components/angular-animate/angular-animate.js"></script>
<script src="~/bower_components/angular-touch/angular-touch.js"></script>
<script src="~/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="~/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<!-- Angular storage -->
<script src="~/bower_components/ngstorage/ngStorage.js"></script>
<!-- Angular Translate -->
<script src="~/bower_components/angular-translate/angular-translate.js"></script>
<script src="~/bower_components/angular-translate-loader-url/angular-translate-loader-url.js"></script>
<script src="~/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="~/bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
<script src="~/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<!-- Angular Filter -->
<script src="~/bower_components/angular-filter/dist/angular-filter.js"></script>
<!-- oclazyload -->
<script src="~/bower_components/oclazyload/dist/ocLazyLoad.js"></script>
<!-- breadcrumb -->
<script src="~/bower_components/angular-breadcrumb/dist/angular-breadcrumb.js"></script>
<!-- UI Bootstrap -->
<script src="~/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- Loading Bar -->
<script src="~/bower_components/angular-loading-bar/build/loading-bar.js"></script>
<!-- Angular Scroll -->
<script src="~/bower_components/angular-scroll/angular-scroll.js"></script>

<!-- LoDash -->
<script src="~/Scripts/lodash.js"></script>
<!-- Clip-Two Scripts -->
@Scripts.Render("~/bundles/cliptwoapp")

