﻿    <!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
<!-- Bootstrap -->
<link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
<!-- Themify Icons -->
<link rel="stylesheet" href="~/bower_components/themify-icons/css/themify-icons.css">
<!-- Loading Bar -->
<link rel="stylesheet" href="~/bower_components/angular-loading-bar/build/loading-bar.min.css">
<!-- Animate Css -->
<link rel="stylesheet" href="~/bower_components/animate.css/animate.min.css">
<!-- Clip-Two CSS -->
<link rel="stylesheet" href="~/Scripts/assets/css/styles.css">
<link rel="stylesheet" href="~/Scripts/assets/css/plugins.css">
<!-- Clip-Two Theme -->
<link rel="stylesheet" data-ng-href="/Scripts/assets/css/themes/{{ app.layout.theme }}.css" />
<link rel="stylesheet" data-ng-href="/Scripts/assets/css/themeoverrides/{{ app.layout.theme }}.css" />
<link href="~/Scripts/assets/css/Site.css" rel="stylesheet" />

