﻿@using p2pweb_clip2.Models.dto
@model P2pUserSettingsDTO
@{  Layout = null; }

<!DOCTYPE html>
<html lang="en" data-ng-app="clipApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{app.description}}">
    <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <title data-ng-bind="pageTitle()">Peer2Prospect</title>
    @Html.Partial("_DefaultCSS")
</head>

<body ng-controller="AppCtrl">

    <div ng-if="loaded">
        <div ui-view
             id="app"
             ng-class="{'app-mobile' : app.isMobile, 'app-navbar-fixed' : app.layout.isNavbarFixed, 'app-sidebar-fixed' : app.layout.isSidebarFixed, 'app-sidebar-closed':app.layout.isSidebarClosed, 'app-footer-fixed':app.layout.isFooterFixed}">
        </div>
    </div>
     
    <div ng-if="!loaded" ng-cloak>
        <div class="loadingSubDiv">
            <h2>Loading...</h2>
            <h3 style="visibility: none;" ng-show="true">{{statusmsg}}</h3>
            <uib-progressbar max="100" value="percentFinished" ng-cloak>
                <span>{{percentFinished}}</span>
            </uib-progressbar>
        </div>
    </div>


    @Html.Partial("_AppParameter")

    @Html.Partial("_FacebookInitialization")

    @Html.Partial("../Shared/_Logout")

    @Html.Partial("_DefaultIncludes")
</body>
</html>