<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle" translate="sidebar.nav.utilities.SEARCHRESULT">SEARCH RESULTS</h1>
			<span class="mainDescription">Show your users the search results in a simple and intuitive way</span>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: SEARCH RESULT -->
<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<div class="search-classic">
				<form action="#">
					<div class="input-group well">
						<input type="text" class="form-control" placeholder="Search...">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button">
								<i class="fa fa-search"></i> Search
							</button> </span>
					</div>
				</form>
				<h3>Search results for '{{app.name}}'</h3>
				<hr>
				<div class="search-result">
					<h4><a href="#">{{app.name}} - Responsive Admin Template</a></h4>
					<a href="#">http://www.apple.com</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, obcaecati consequuntur aspernatur neque voluptatum mollitia eaque tenetur ea tempora itaque dolore incidunt explicabo voluptate quaerat at reprehenderit iste iusto asperiores?</p>
				</div>
				<hr>
				<div class="search-result">
					<h4><a href="#">{{app.name}} - Responsive Admin Dashboard Template</a></h4>
					<a href="#">http://www.apple.com</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, ut, quis, molestias dolor nobis doloremque eos distinctio perferendis alias aspernatur quam natus necessitatibus fugiat quo nostrum ipsum tempore. Expedita eveniet impedit dolorum unde rerum temporibus.</p>
				</div>
				<hr>
				<div class="search-result">
					<h4><a href="#">{{app.name}} - Responsive Admin Template</a></h4>
					<a href="#">http://www.apple.com</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, voluptates, nulla vero beatae deserunt impedit quas fugiat cupiditate error soluta veritatis delectus cumque possimus fugit libero eligendi provident voluptatum nostrum nesciunt.</p>
				</div>
				<hr>
				<div class="search-result">
					<h4><a href="#">{{app.name}} - Responsive Admin Dashboard Template</a></h4>
					<a href="#">http://www.apple.com</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, reprehenderit, cumque, quas, voluptatibus expedita aspernatur alias enim laboriosam eum sunt perspiciatis a pariatur dignissimos eligendi repellat harum hic!</p>
				</div>
				<hr>
				<div class="search-result">
					<h4><a href="#">{{app.name}} - Responsive Admin Template</a></h4>
					<a href="#">http://www.apple.com</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, incidunt.</p>
				</div>
				<hr>
				<div class="search-result">
					<h4>
					<a href="#">{{app.name}} - Responsive Admin Dashboard Template</a></h4>
					<a href="#">http://www.apple.com</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus adipisci laborum provident enim quam!</p>
				</div>
				<hr>
				<div class="search-result">
					<h4><a href="#">{{app.name}} - Responsive Admin Template</a></h4>
					<a href="#">http://www.apple.com</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, harum temporibus beatae assumenda ipsum. Dignissimos deleniti temporibus ut obcaecati possimus.</p>
				</div>
				<hr>
				<ol class="pagination pull-right">
					<li class="prev disabled"><a href="#">Prev</a></li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li class="next"><a href="#">Next</a></li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- end: SEARCH RESULT -->