<div ng-controller="FacebookFeedsCtrl as vm">

    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle" translate="sidebar.nav.element.FACEBOOK">FACEBOOK WATCHES</h1>
                <a ui-sref="app.facebookfeedssearch">
                    <span class="title" translate="sidebar.nav.element.FACEBOOKFEEDSEARCH"> Choose Feeds </span>
                </a>
            </div>
        </div>
    </section>

    <div class="mainDescription" ng-if="vm.appStateSvc.feedsSelected.length === 0">
        No feeds currently selected
        <a ui-sref="app.facebookfeedssearch"><span class="title" translate="sidebar.nav.element.FACEBOOKFEEDSEARCH"> Choose Feeds </span></a>
    </div>

    <div class="container-fluid container-fullw bg-white" ng-if="vm.appStateSvc.feedsSelected.length">
        <div class="row margin-bottom-5">
            <div class="pull-right">
                <button href="#" class="btn btn-xs btn-info tooltips"  ng-click="vm.refreshAll()" title="Refresh all feeds">
                    <span>Refresh All</span>
                    <i class="fa fa-refresh" ng-class="{'fa-spin': vm.refreshingAll }"></i>
                </button>
                <button class="btn btn-xs btn-danger tooltips" ng-click="vm.removeAll()" title="Remove all feeds">
                    <span>Remove All</span>
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <span class="clearfix"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Pages</h2>
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div ng-if="!vm.pages.length">No pages selected</div>
                        <div ng-if="vm.pages.length" ng-include="'/Scripts/p2p/feeds/views/pages.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Groups</h2>
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div ng-if="!vm.groups.length">No groups selected</div>
                        <div ng-if="vm.groups.length" ng-include="'/Scripts/p2p/feeds/views/groups.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

