﻿<table class="table table-striped">
    <thead>
        <tr class="border-bottom">
            <th>Cover</th>
            <th>Name/Desc</th>
            <th title="Facebook's 'updated_date' field" >Last Updated</th>
            <th title="Last time this feed was refreshed from facebook into the local cache." >Last Downloaded</th>
            <th>Icon</th>
            <th>Privacy</th>
            <th>Refresh</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="feed in vm.groups">
            <td data-title="'Cover'" class="feed-list-image">
                <img class="img-thumbnail img-responsive" ng-src="{{feed.cover.source}}" alt="cover image" ng-if="feed.cover" />
            </td>
            <td data-title="'Name'" >
                <div title="{{feed.name}} - {{feed.description}}">
                    <a ng-href="https:///www.facebook.com/{{feed.id}}" ng-attr-target="_blank">{{feed.name}}</a>
                    <div>{{feed.description | words:50 }}</div>
                </div>
            </td>
            <td data-title="'Last Updated'"><span ng-if="feed.updated_time">{{feed.updated_time | date:"MM/dd HH:mm:ss"}}</span></td>
            <td data-title="'Last Downloaded'">{{feed.timestamp | date:"MM/dd HH:mm:ss"}}</td>
            <td data-title="'Icon'"><img ng-src="{{feed.icon}}" ng-if="feed.icon" /></td>
            <td data-title="'Privacy'">
                <i ng-if="feed.privacy === 'CLOSED'" class="fa fa-lock" title="Locked"></i>
                <i ng-if="feed.privacy === 'OPEN'" class="fa fa-unlock" title="Open"></i>
            </td>
            <td data-title="'Refresh'" headerXXX="'/Scripts/assets/views/refreshAllHeader.html'">
                <a ng-click="vm.refreshFeed(feed)"
                   href="#"
                   class="btn btn-xs btn-link tooltips feed-search-result"
                   ng-class="{'fa-spin': feed.refreshing}"
                   tooltip-placement="top"
                   uib-tooltip="Refresh {{feed.name}}">
                    <i class="fa fa-refresh fa fa-white"></i>
                </a>
            </td>
            <td data-title="'Remove'">
                <a ng-click="vm.removeFeed(feed)"
                   href="#"
                   class="btn btn-link btn-xs btn-link tooltips feed-search-result btn-transparent-red no-border"
                   ng-class="{'fa-spin': feed.busy}"
                   tooltip-placement="top"
                   uib-tooltip="Remove {{feed.name}}">
                    <i class="fa fa-times fa fa-white"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
