﻿<table ng-table="tableParams" class="table table-striped">
    <tr ng-repeat="feedinfo in $data">
        <td data-title="'Name'">
            <a ng-href="https:///www.facebook.com/{{feedinfo.id}}" ng-attr-target="_blank">{{feedinfo.name}}</a>
        </td>
        <td data-title="'Category'">{{feedinfo.category}}</td>
        <td data-title="'Fan Count'">{{feedinfo.fan_count}}</td>
        <td data-title="'Cache Timestamp'">{{feedinfo.timestamp | date:"MM/dd HH:mm:ss"}}</td>
        <td data-title="'Refresh'" headerXXX="'/Scripts/assets/views/refreshAllHeader.html'">
            <a ng-click="vm.refreshFeed(feedinfo)"
               href="#"
               class="btn btn-xs btn-link tooltips feed-search-result"
               ng-class="{'fa-spin': feedinfo.refreshing}"
               tooltip-placement="top"
               uib-tooltip="Refresh">
                <i class="fa fa-refresh fa fa-white"></i>
            </a>
        </td>
        <td data-title="'Remove'">
            <a ng-click="vm.removeFeed(feedinfo)"
               href="#"
               class="btn btn-link btn-xs btn-link tooltips feed-search-result btn-transparent-red no-border"
               ng-class="{'fa-spin': feedinfo.busy}"
               tooltip-placement="top"
               uib-tooltip="Remove">
                <i class="fa fa-times fa fa-white"></i>
            </a>
        </td>
    </tr>
</table>
