﻿<table class="table table-striped">
    <thead>
        <tr>
            <th>Picture</th>
            <th>Name/About</th>
            <th>Category</th>
            <th>Fan Count</th>
            <th title="The last time this feed was downloaded from FB into the local cache">Last Downloaded</th>
            <th>Refresh</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="feed in vm.pages ">
            <td data-title="'Picture'" class="feed-list-image hide-overflow">
                <img class="img-thumbnail " ng-src="{{feed.picture.data.url}}" alt="cover image" ng-if="feed.picture && feed.picture.data" />
            </td>
            <td data-title="'Name'">
                <a ng-href="https:///www.facebook.com/{{feed.id}}" ng-attr-target="_blank">{{feed.name}}</a>
                <div>{{feed.about}}</div>
            </td>
            <td data-title="'Category'">{{feed.category}}</td>
            <td data-title="'Fan Count'">{{feed.fan_count}}</td>
            <td data-title="'Cache Timestamp'">{{feed.timestamp | date:"MM/dd HH:mm:ss"}}</td>
            <td data-title="'Refresh'" headerXXX="'/Scripts/assets/views/refreshAllHeader.html'">
                <a ng-click="vm.refreshFeed(feed)"
                   href="#"
                   class="btn btn-xs btn-link tooltips feed-search-result"
                   ng-class="{'fa-spin': feed.refreshing}"
                   tooltip-placement="top"
                   uib-tooltip="Refresh {{feed.name}}">
                    <i class="fa fa-refresh fa fa-white"></i>
                </a>
            </td>
            <td data-title="'Remove'">
                <a ng-click="vm.removeFeed(feed)"
                   href="#"
                   class="btn btn-link btn-xs btn-link tooltips feed-search-result btn-transparent-red no-border"
                   ng-class="{'fa-spin': feed.busy}"
                   tooltip-placement="top"
                   uib-tooltip="Remove {{feed.name}}">
                    <i class="fa fa-times fa fa-white"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
