﻿
<!-- this file is included directly from index.html -->
<div ng-if="loaded">
    <div ui-view
         id="app"
         ng-class="{'app-mobile' : app.isMobile, 'app-navbar-fixed' : app.layout.isNavbarFixed, 'app-sidebar-fixed' : app.layout.isSidebarFixed, 'app-sidebar-closed':app.layout.isSidebarClosed, 'app-footer-fixed':app.layout.isFooterFixed}">
    </div>
</div>

<div ng-if="!loaded" ng-cloak>
    <div class="loadingSubDiv">
        <h2>Loading...</h2>
        <h3 style="visibility: none;" ng-show="true">{{statusmsg}}</h3>
        <uib-progressbar max="100" value="percentFinished" ng-cloak>
            <span>{{percentFinished}}</span>
        </uib-progressbar>
    </div>
</div>

