<!-- start: DASHBOARD TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-5">
        </div>
    </div>
</section>
<!-- end: DASHBOARD TITLE -->
<!-- start: FEATURED BOX LINKS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-sm-4" ng-repeat="el in navElements">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x">
                        <a ui-sref="{{el.sref}}">
                            <i class="fa fa-square fa-stack-2x text-primary"></i>
                            <i class="fa {{el.fa_icon}} fa-stack-1x fa-inverse"></i>
                        </a>
                    </span>
                    <h2 class="StepTitle" translate="{{el.titleTranslate}}">{{el.defaultText}}</h2>
                    <p class="text-small">{{el.desc}}</p>
                    <p class="links cl-effect-1"><a ui-sref="{{el.sref}}">view more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: FEATURED BOX LINKS -->

