﻿<!-- start: SEARCH FORM -->
<div class="search-form">
    <a class="s-open" href="#">
        <i class="ti-search"></i>
    </a>
    <form class="navbar-form" role="search">
        <a class="s-remove" href="#" ng-toggle-class="search-open" target=".navbar-form">
            <i class="ti-close"></i>
        </a>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="{{ 'sidebar.search.PLACEHOLDER' | translate }}">
            <button class="btn search-button" type="submit">
                <i class="ti-search"></i>
            </button>
        </div>
    </form>
</div>
<!-- end: SEARCH FORM -->
<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
    <span translate="sidebar.heading.NAVIGATION">Main Navigation</span>
</div>
<ul class="main-navigation-menu">
    <li ui-sref-active="active" ng-repeat="navElement in navElements">
        <a ui-sref="{{navElement.sref}}">
            <div class="item-content">
                <div class="item-media">
                    <i class="{{navElement.icon}}"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="{{navElement.title}}"> {{navElement.defaultText }}</span>
                    <!--<span class="badge badge-inverse pull-right margin-right-10">{{appStateSvc.feedsSelected.length}}</span>-->
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->
