
<section id="loadingsection" ng-if="!app.demomode" data-ng-include=" '/Scripts/p2p/app/views/app.html' "></section>
<section id="loadingsection" ng-if="app.demomode" data-ng-include=" '/Scripts/assets/views/app.html' "></section>

