﻿<div ng-repeat="pane in panes" class="no-margin no-padding">
    <header class="pane-heading margin-bottom-10 bg-beige">
        <h5 class="pull-left">{{ pane.header }}</h5>
        <button ng-click="selectAllSingleType(pane.header)" class="btn btn-xs btn-link pull-right" ng-if="pane.state !== 2">Select All {{pane.header}}</button>
        <button ng-click="deselectAllSingleType(pane.header)" class="btn btn-xs btn-link pull-right" ng-if="pane.state === 2">De-Select All {{pane.header}}</button>
    </header>
    <div class="clearfix"></div>
    <div class="panel-body pane no-padding">
        <div ng-if="pane.feeds.length">
            <ul class="list-unstyled">
                <li class="list-group-item default-hover" ng-repeat="feed in pane.feeds" ng-click="toggleFeedSelected(feed)">
                    <span ng-if="feed.selected"><i class="fa fa-check"></i></span>
                    {{feed.name}}
                    <i class="fa fa-refresh fa-spin" ng-if="feed.refreshing"></i>
                </li>
            </ul>
        </div>
        <div ng-if="pane.feeds.length === 0">
            <p>no {{pane.header}} selected</p>
            <a ui-sref="app.facebookfeedssearch">Search for {{pane.header}}</a>
        </div>
    </div>
    <hr class="border-bottom" />
</div>
