<div ng-if="message">
    <!--<div class="message-actions">
    </div>-->
    <div class="message-header vertical-align-top">

        <img alt="{{ message.from }}" ng-src="{{ message.avatar && message.avatar || noAvatarImg }}" class="message-item-avatar">
        <div class="message-from ">
            <a href="https://www.facebook.com/{{message.comment.from.id}}" target="_blank">{{message.comment.from.name}}</a>
        </div>
        <div class="message-time">
            {{message.comment.created_time | date: "MM/dd/yyyy 'at' h:mma" }}
        </div>
        <i class="fa fa-thumbs-up"></i><span class="lead text-small">Likes</span> {{message.likes}}
        <button class="btn btn-sm btn-block btn-default no-padding margin-top-5">
            <a href="https://www.facebook.com/{{message.id}}" target="_blank" class="btn btn-sm btn-default btn-block no-border">View Comment</a>
        </button>
        <button class="btn btn-sm btn-block btn-default hide-overflow" ng-click="sendmessage(message.comment.from.id)" ng-disabled="!message.comment.from">
            <span ng-if="!message.comment.from">Can't send message. Unknown user.</span>
            <span ng-if="message.comment.from">Send Message</span>
        </button>
    </div>
    <div class="message-subject">
        <span class="spam" ng-if="message.spam">[SPAM] </span> {{message.subject}}
    </div>
    <div class="message-content" ng-bind-html="message.comment.message"></div>
</div>

<div ng-if="!message">
    <div class="no-messages">
        <h2>No comment has been selected</h2>
    </div>
</div>