﻿<div ng-if="!messages.length">
    <div class="">
        No matches.
    </div>
</div>
<div class="messages-list" perfect-scrollbar wheel-propagation="true" suppress-scroll-x="true">
    <ul class="list-group" ng-repeat="(key, value) in messages | groupBy: 'pageid' ">
        <h4 class="retro-group-header">{{lookup(key)}}<span class="text-small margin-left-10 vertical-align-top" ng-if="!$parent.inbox.search.$" >{{value.length}}</span></h4>

        <li class="messages-item list-unstyled"
            ng-class="{starred: message.starred, 'read-comment':message.read && !message.selected, 'selected-comment': message.selected, 'default-hover': !message.selected}"
            ng-repeat="message in value | orderBy: 'date':true | filter:filters | filter:inbox.search">

            <div ng-click="selectMessage(message)" class="message-link" >
            
                <a message-item="{{message.comment.id}}" ui-sref="app.leadspyview.message({ msgid:message.comment.id })" href class="message-link">

                    <span title="{{ message.starred && 'Remove star' || 'Mark as starred' }}" class="messages-item-star" ng-click="starmessage(message)"><i class="fa fa-star"></i></span>
                    <img alt="{{ message.from }}" ng-src="{{ message.avatar && message.avatar || noAvatarImg }}" class="messages-item-avatar bordered border-primary">
                    <span class="messages-item-from">{{ message.comment.from ? message.comment.from.name : 'unknown' }}</span>
                    <div class="messages-item-time">
                        <span class="text">{{ message.comment.created_time | date: "MM/dd/yyyy 'at' h:mma" }}</span>
                    </div>
                    <span class="messages-item-subject" title="{{message.comment.message}}"> {{ message.comment.message | words:15 :true}}</span>

                </a>

            </div>
        </li>
    </ul>

</div>
