﻿
<div class="wrap-options" id="wrap-options" toggleable active-class="search-open">
    <div class="messages-search">
        <form class="form-inline">
            <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button type="button" class="active btn btn-sm btn-link uib-dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                    <i class="fa fa-flag margin-right-5"></i>
                    Selected <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><button ng-click="startmine()" class="btn btn-sm btn-link"><i class="fa fa-search margin-right-5"></i>Search</button></li>
                    <li><button ng-click="deleteSelected()" class="btn btn-sm btn-link"><i class="fa fa-ban margin-right-5"></i>Delete</button></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="active btn btn-sm btn-link" ng-click="refresh()"><i class="fa fa-refresh margin-right-5"></i>Refresh</button>
            </div>
            <span class="margin-left-20">
                Keyword Search
                <input type="text" class="form-control underline" placeholder="Search messages..." ng-model="$parent.inbox.search.$">
            </span>
            <span class="input-group" ng-if="false">
                <label for="chkautorefresh">Auto-refresh</label>
                <input id="chkautorefresh" type="checkbox" ng-model="$parent.autorefresh" class="check-sm"/>
            </span>
            <button class="btn btn-sm btn-link pull-right" ng-model="$parent.filterOn" uib-btn-checkbox>
                <i class="fa fa-filter margin-right-5"></i>
                Filter {{ (filterOn) ? 'On' : 'Off'}}
            </button>
        </form>
    </div>
</div>

